.primary-color {
    background-color: #304173;
    color: #fffafa;
}
.secondary-color {
    background-color: #29A2EE;
    color: #fffafa;
}
.dark-accent {
    background-color: #605B56;
}
.light-accent {
    background-color: #D3C47F;
}
.off-white {
    background-color: #ECEBE4;
}