{{ define "footer" }}
  <br />
  <div class="w3-cell-row primary-color">
    <div class="w3-container w3-cell">
      <p class="w3-small">This is an unassuming and unobtrusive footer.</p>
    </div>
  </div>
</div>
<script src="/js/gotempl.js"></script>
  </body>
</html>
{{ end }}